.container {
  margin: 20px;
}

.bg1 {
  background-color: rgba(0, 0, 255, 0.212);
}

.bg2 {
  background-color: rgba(0, 128, 0, 0.212);
}

.bg3 {
  background-color: rgba(255, 255, 0, 0.233);
}

.bg4 {
  background-color: pink;
}

.content__title {
  font-size: 14px;
}

.content__body {

  &--p1 {
    background-color: rgba(0, 0, 255, 0.212);
  }
  
  &--p2 {
    background-color: rgba(0, 128, 0, 0.212);
  }
  &--p3 {
    background-color: rgba(255, 255, 0, 0.233);
  }
}
